* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  background: linear-gradient(
    135deg,
    #f8fafc,
    #eef6ff,
    #f5f3ff
  );

  background-size: 200% 200%;

  animation: backgroundMove 12s ease infinite;

  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@keyframes backgroundMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.sidebar-link:hover {
  background: #1e293b !important;
}